<!--
MarkOWiHu Fotógrafo main site menu system | 06-09-2026 Ver 1.0
Footer-EN & includes footer-es.html` (identical content for both files)
-->
<footer id="contact" role="contentinfo">
    <div class="footer-grid">
        <div class="footer-legal-block">
            <p><strong>Privacidad:</strong> Este sitio web es de carácter personal y artístico. Trato sus datos únicamente para gestionar mi comunicación personal. Puede ejercer sus derechos a través de la <a href="contacto.html#contact-form-container">página de contacto</a> o en fotos arroba markowihu.es — Si considera que he tratado sus datos de forma incorrecta, por favor comuníquemelo inmediatamente.</p>
        </div>
        <div class="footer-legal-block">
            <p><strong>Privacy:</strong> This website is personal and artistic. I process your data solely for my personal communication. To exercise your rights, please use the <a href="contact.html#contact-form-container">contact page</a> or email fotos ('at' symbol) markowihu.es — If you believe your data has been handled incorrectly, please let me know immediately.</p>
        </div>
    </div>
</footer>