<!--
MarkOWiHu Fotógrafo main site menu system Header EN
CHANGE LOG:
06-09-2026 Ver 1.0
27-09-2026 Updated for dynamic language switching following new Foto Walk 2026 menu item
-->
<header role="banner" id="banner-header" class="header-banner">
    <div class="header-titles">
        <h1>MarkOWiHu Photographer</h1>
        <div class="tagline">Alicante province</div>
    </div>
    <div class="lang-switch" aria-label="Language selection">
        <span class="lang-active" lang="en" title="Current English version">EN</span>
        <span class="divider">|</span>
        <a href="{{ page.lang_es_url | default: 'quien-soy.html#quien-soy' }}" lang="es" title="Versión en español">ES</a>
    </div>
</header>