<!--
MarkOWiHu Fotógrafo main site menu system, 06-09-2026 Ver 1.0
Header EN
-->
<header role="banner" id="banner-header" class="header-banner">
    <div class="header-titles">
        <h1>MarkOWiHu Photographer</h1>
        <div class="tagline">Alicante province</div>
    </div>
    <div class="lang-switch" aria-label="Language selection">
        <span class="lang-active" lang="en" title="Current English version">EN</span>
        <span class="divider">|</span>
        <a href="noticias.html" lang="es" title="Español (castellano): Noticias">ES</a>
    </div>
</header>